SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[sp_atualizar_geftb001]

	@matricula varchar(9) = NULL,
    @dt_ini DATE = NULL,
    @dt_fim DATE = NULL,
    @nivel INT = 0,
	@dt_gravacao DATE = NULL

AS

BEGIN

	SET NOCOUNT ON;

	UPDATE [dbo].[geftb001_usuario] SET
			dt_ini 					= 	@dt_ini,
			dt_fim 					= 	@dt_fim,
			nivel 					= 	@nivel,
			dt_gravacao 			= 	@dt_gravacao
	WHERE matricula = @matricula;

END;


