SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[sp_atualizar_geftb004]

    @id_associado_atividade INT = 0,
    @dt_fim DATE = NULL,
	@dt_gravacao DATE = NULL,
    @geftb001_usuario_id_usuario INT = 0

AS

BEGIN

	SET NOCOUNT ON;

	UPDATE [dbo].[geftb004_associado_atividade] SET
			dt_fim 					= 	@dt_fim,
			dt_gravacao 				= 	@dt_gravacao,
			geftb001_usuario_id_usuario 	=	@geftb001_usuario_id_usuario
	WHERE id_associado_atividade = @id_associado_atividade; -- Corrigido: Usando @id_associado_atividade

END;

GO
