USE [fabiano]
GO
/****** Object:  StoredProcedure [dbo].[sp_atualizar_psw_geftb001]    Script Date: 01/11/2023 16:31:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[sp_atualizar_psw_geftb001]
    
	@matricula as varchar(9) = NULL,
    @senha varchar(50) = NULL,
	@dt_gravacao date = NULL

AS

BEGIN

    -- Declara uma variável para armazenar o hash da senha
    DECLARE @SenhaHash VARBINARY(32);

    -- Criptografa a senha usando o algoritmo SHA2_256
    SET @SenhaHash = HASHBYTES('SHA2_256', @senha);

	UPDATE [dbo].[geftb001_usuario] SET 
			senha			=	@SenhaHash,
			dt_gravacao 	= 	@dt_gravacao
	WHERE matricula = @matricula;		

END;


