SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[sp_atualizar_geftb005]

    @dt_agenda DATE = NULL,
	@sigla VARCHAR (10) = NULL,
    @id_associado INT = 0,
    @presenca VARCHAR(1) = NULL,
    @hr_entrada TIME(7) = NULL,
    @vestuario VARCHAR(1) = NULL,
	@justificativa VARCHAR(60) = NULL,
	@dt_gravacao DATE = NULL,
    @geftb001_usuario_id_usuario INT = 0

AS

BEGIN
		
	UPDATE [dbo].[geftb005_agenda] SET
			presenca 					= 	@presenca,
			hr_entrada					=	@hr_entrada,
			vestuario					=	@vestuario,
			justificativa				=	@justificativa,
			dt_gravacao 				=	@dt_gravacao,
			geftb001_usuario_id_usuario =	@geftb001_usuario_id_usuario
	WHERE geftb002_associado_id_associado = @id_associado
	AND geftb003_atividade_id_atividade = (SELECT id_atividade FROM geftb003_atividade WHERE sigla = @sigla)
	AND dt_agenda = @dt_agenda;

END;
