USE [fabiano]
GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_atividade_geftb003]    Script Date: 21/10/2023 15:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[sp_buscar_atividade_geftb003]

	AS
  
BEGIN

SELECT id_atividade, descricao
  FROM [fabiano].[dbo].[geftb003_atividade]
  WHERE dtfim IS NULL
	RETURN;
END;


