USE [fabiano]
GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_geftb005]    Script Date: 26/10/2023 11:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[sp_buscar_geftb005]
    @dt_agenda date NULL

	AS
  
BEGIN

	SELECT DISTINCT AGENDA.id_agenda, AGENDA.dt_agenda, AGENDA.geftb002_associado_id_associado, ATIVIDADE.sigla AS Atividade, 
	SUBSTRING(ASSOCIADO.MATRICULA,1,6) + '-' + SUBSTRING(ASSOCIADO.MATRICULA,7,2) AS Matricula, ASSOCIADO.nome AS Nome, 
	AGENDA.presenca AS Presença, AGENDA.justificativa as Justificativa, AGENDA.hr_entrada AS Entrada, AGENDA.vestuario as Vestuário, 
	AGENDA.dt_gravacao, AGENDA.geftb001_usuario_id_usuario
	FROM [dbo].[geftb005_agenda] AS AGENDA
	RIGHT JOIN [DBO].[geftb002_associado] AS ASSOCIADO ON ASSOCIADO.id_associado = AGENDA.geftb002_associado_id_associado 
	LEFT JOIN [dbo].[geftb003_atividade] AS ATIVIDADE ON ATIVIDADE.id_atividade = AGENDA.geftb003_atividade_id_atividade
	WHERE AGENDA.dt_agenda = @dt_agenda;

	RETURN;
END;