USE [fabiano]
GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_usuario_geftb001]    Script Date: 19/08/2025 15:12:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[sp_buscar_usuario_geftb001]
AS

BEGIN
 SELECT USU.id_usuario, SUBSTRING(USU.MATRICULA,1,6) + '-' + SUBSTRING(USU.MATRICULA,7,2), ASS.nome, USU.dt_ini, USU.dt_fim, USU.nivel
    FROM geftb001_usuario AS USU
    LEFT JOIN geftb002_associado as ASS ON ASS.matricula = USU.matricula
    WHERE USU.dt_fim IS NULL AND
    ASS.dt_fim IS NULL;
END;