USE [fabiano]
GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_idnome_geftb002]    Script Date: 15/10/2023 12:30:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[sp_buscar_idnome_geftb002]
    @tipo char(1) = NULL -- assistido = 'A'; Gestante = 'G' ; Frequentador = 'F'
AS
BEGIN

	SELECT id_associado, nome
	FROM [dbo].[geftb002_associado]
	WHERE SUBSTRING(matricula,1,1) = @tipo AND dt_fim IS NULL
	ORDER BY nome ASC;

	RETURN;
END
GO