USE [fabiano]
GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_assatv_geftb004]    Script Date: 25/10/2023 08:26:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[sp_buscar_assatv_geftb004]
    @id_associado integer = 0,
    @geftb003_atividade_id_atividade integer = 0

	AS
  
BEGIN

	SELECT AA.id_associado_atividade, SUBSTRING(ASS.MATRICULA,1,6) + '-' + SUBSTRING(ASS.MATRICULA,7,2), AA.geftb003_atividade_id_atividade, AA.dt_ini, AA.dt_fim, AA.dt_gravacao, AA.geftb001_usuario_id_usuario
	FROM [dbo].[geftb004_associado_atividade] AS AA
	INNER JOIN geftb002_associado AS ASS ON
	AA.geftb002_associado_id_associado = ASS.id_associado
	WHERE  ASS.id_associado = @id_associado AND AA.geftb003_atividade_id_atividade = @geftb003_atividade_id_atividade;


	RETURN;
END;


