USE [fabiano]
GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_nome_geftb002]    Script Date: 15/10/2023 12:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[sp_buscar_nome_geftb002]
    @tipo varchar(1) = NULL, -- assistido = 'A'; Gestante = 'G' ; Frequentador = 'F'
	@classificacao int = 0, -- Todos = 0 (não considera dv); Titular = 1 (dv = 1); Dependente = 2 (dv > 1)
	@situacao int = 0, -- Ativo = 0; Inativo = 1
    @nome varchar(60) = NULL,
    @matricula varchar(8) = NULL -- assistido = 'A'; Gestante = 'G' ; Frequentador = 'F'
AS
BEGIN
	IF @classificacao = 0 AND @situacao = 0
		SELECT id_associado, SUBSTRING(MATRICULA,1,6) + '-' + SUBSTRING(MATRICULA,7,2), dt_ini, dt_fim, nome, dt_nascimento, endereco, bairro, cidade, cep, tel1, tel2, cpf, obs, email, parentesco, dt_gravacao, geftb001_usuario_id_usuario
		FROM [dbo].[geftb002_associado]
		WHERE SUBSTRING(MATRICULA,1,1) = @tipo AND dt_fim IS NULL AND nome LIKE '%' + @nome + '%';
	ELSE IF @classificacao = 0 AND @situacao = 1
		SELECT id_associado, SUBSTRING(MATRICULA,1,6) + '-' + SUBSTRING(MATRICULA,7,2), dt_ini, dt_fim, nome, dt_nascimento, endereco, bairro, cidade, cep, tel1, tel2, cpf, obs, email, parentesco, dt_gravacao, geftb001_usuario_id_usuario
		FROM [dbo].[geftb002_associado]
		WHERE SUBSTRING(MATRICULA,1,1) = @tipo AND dt_fim IS NOT NULL AND nome LIKE '%' + @nome + '%';
	ELSE IF @classificacao = 1 AND @situacao = 0
		SELECT id_associado, SUBSTRING(MATRICULA,1,6) + '-' + SUBSTRING(MATRICULA,7,2), dt_ini, dt_fim, nome, dt_nascimento, endereco, bairro, cidade, cep, tel1, tel2, cpf, obs, email, parentesco, dt_gravacao, geftb001_usuario_id_usuario
		FROM [dbo].[geftb002_associado]
		WHERE SUBSTRING(MATRICULA,7,2) = '01' AND SUBSTRING(MATRICULA,1,1) = @tipo AND dt_fim IS NULL AND nome LIKE '%' + @nome + '%';
	ELSE IF @classificacao = 1 AND @situacao = 1
		SELECT id_associado, SUBSTRING(MATRICULA,1,6) + '-' + SUBSTRING(MATRICULA,7,2), dt_ini, dt_fim, nome, dt_nascimento, endereco, bairro, cidade, cep, tel1, tel2, cpf, obs, email, parentesco, dt_gravacao, geftb001_usuario_id_usuario
		FROM [dbo].[geftb002_associado]
		WHERE SUBSTRING(MATRICULA,7,2) = '01' AND SUBSTRING(MATRICULA,1,1) = @tipo AND dt_fim IS NOT NULL AND nome LIKE '%' + @nome + '%';
	ELSE IF @classificacao = 2 AND @situacao = 0
		SELECT id_associado, SUBSTRING(MATRICULA,1,6) + '-' + SUBSTRING(MATRICULA,7,2), dt_ini, dt_fim, nome, dt_nascimento, endereco, bairro, cidade, cep, tel1, tel2, cpf, obs, email, parentesco, dt_gravacao, geftb001_usuario_id_usuario
		FROM [dbo].[geftb002_associado]
		WHERE SUBSTRING(MATRICULA,7,2) <> '01' AND SUBSTRING(MATRICULA,1,1) = @tipo AND dt_fim IS NULL AND nome LIKE '%' + @nome + '%';
	ELSE IF @classificacao = 2 AND @situacao = 1
		SELECT id_associado, SUBSTRING(MATRICULA,1,6) + '-' + SUBSTRING(MATRICULA,7,2), dt_ini, dt_fim, nome, dt_nascimento, endereco, bairro, cidade, cep, tel1, tel2, cpf, obs, email, parentesco, dt_gravacao, geftb001_usuario_id_usuario
		FROM [dbo].[geftb002_associado]
		WHERE SUBSTRING(MATRICULA,7,2) <> '01' AND SUBSTRING(MATRICULA,1,1) = @tipo AND dt_fim IS NOT NULL AND nome LIKE '%' + @nome + '%';
	RETURN;
END;
GO