USE [fabiano]
GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_recbolsa_geftb005]    Script Date: 26/10/2023 11:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER   PROCEDURE [dbo].[sp_buscar_recbolsa_geftb005]
    @dt_agenda date NULL

	AS
  
BEGIN

	SELECT DISTINCT ASSOCIADO.matricula, ASSOCIADO.nome
	FROM [dbo].[geftb005_agenda] AS AGENDA
	RIGHT JOIN [DBO].[geftb002_associado] AS ASSOCIADO ON ASSOCIADO.id_associado = AGENDA.geftb002_associado_id_associado  
	WHERE AGENDA.dt_agenda = @dt_agenda AND AGENDA.presenca = 'P' AND (geftb003_atividade_id_atividade = 15 OR geftb003_atividade_id_atividade = 16);

	RETURN;
END;