USE [fabiano]
GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_geftb008]    Script Date: 23/10/2023 14:50:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[sp_buscar_geftb008]

AS

BEGIN

	SELECT E.id_estoquemed, E.lote, E.nomecomerc, E.nomequimico, G.grupo, E.prateleira, E.dt_validade, E.estoque, E.dt_gravacao, E.geftb001_usuario_id_usuario
	FROM geftb008_estoquemed AS E
	INNER JOIN geftb007_grfarmaco AS G ON
	E.geftb007_grfarmaco_id_grfarmaco = G.id_grfarmaco

	RETURN;
END;

