USE [fabiano]
GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_geftb004]    Script Date: 20/10/2023 17:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[sp_buscar_geftb004]
    @id_associado integer = 0

	AS
  
BEGIN

	SELECT AA.id_associado_atividade, SUBSTRING(ASS.MATRICULA,1,6) + '-' + SUBSTRING(ASS.MATRICULA,7,2), ATV.sigla, AA.dt_ini, AA.dt_fim, AA.dt_gravacao, AA.geftb001_usuario_id_usuario
	FROM [dbo].[geftb004_associado_atividade] AS AA
	INNER JOIN geftb002_associado AS ASS ON
	ASS.id_associado = AA.geftb002_associado_id_associado
	INNER JOIN geftb003_atividade AS ATV ON
	ATV.id_atividade = AA.geftb003_atividade_id_atividade
	WHERE AA.dt_fim IS NULL AND
	ASS.dt_fim IS NULL AND
	ATV.dt_fim IS NULL AND 
	ASS.id_associado = @id_associado;
	RETURN;
END;


