USE [fabiano]
GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_nivel_usuario_geftb001]    Script Date: 31/10/2023 17:08:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[sp_buscar_nivel_usuario_geftb001]

@id_usuario Integer = 0

AS

BEGIN

	SELECT nivel, dt_fim
	FROM geftb001_usuario
	WHERE id_usuario = @id_usuario

	RETURN;

END;

