USE [fabiano]
GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_geftb003]    Script Date: 23/10/2023 14:50:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[sp_buscar_geftb003]

@ativo integer = 0

AS

BEGIN

	IF @ativo = 0
		SELECT 
		[id_atividade]
	  ,[sigla]
	  ,[descricao]
      ,[grupo]
      ,[subgrupo]
      ,[hr_ini]
      ,[hr_fim]
      ,[dt_ini]
      ,[dt_fim]
      ,[diasemana]
      ,[periodo]
      ,[dt_gravacao]
      ,[geftb001_usuario_id_usuario]
		FROM geftb003_atividade 
		WHERE dt_fim IS NULL;
	ELSE
		SELECT 
		[id_atividade]
      ,[sigla]
      ,[descricao]
      ,[grupo]
      ,[subgrupo]
      ,[hr_ini]
      ,[hr_fim]
      ,[dt_ini]
      ,[dt_fim]
      ,[diasemana]
      ,[periodo]
      ,[dt_gravacao]
      ,[geftb001_usuario_id_usuario]
		FROM geftb003_atividade 
		WHERE dt_fim IS NOT NULL;

	RETURN;
END;

