USE [fabiano]
GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_codigo_geftb012]    Script Date: 15/10/2023 12:30:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[sp_buscar_codigo_geftb012]
    @idlivraria integer = 0
AS
BEGIN

		SELECT LV.id_livraria, LV.titulo, LV.assunto, AE.nomeautesp, A.nomeautor, E.descricao, LV.estoque, LV.vl_unitario, LV.vl_feira, vl_livraria, LV.dt_gravacao, LV.geftb001_usuario_id_usuario
		FROM geftb012_livraria AS LV
		INNER JOIN geftb009_livautesp AS AE ON
		LV.geftb009_livautesp_id_autesp = AE.id_autesp
		INNER JOIN geftb010_livautor AS A ON
		LV.geftb010_livautor_id_autor = A.id_autor
		INNER JOIN geftb011_liveditora AS E ON
		LV.geftb011_liveditora_id_editora = E.id_editora
		WHERE LV.id_livraria = @idlivraria;

	RETURN;
END
GO