USE [fabiano]
GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_domingo_geftb005]    Script Date: 26/10/2023 09:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[sp_buscar_domingo_geftb005]
    @dt_agenda date NULL

	AS
  
BEGIN

	SELECT DISTINCT AGENDA.dt_agenda, AGENDA.geftb002_associado_id_associado, ASSOCIADO.id_associado, ASSOCIADO.nome, AGENDA.geftb003_atividade_id_atividade, AGENDA.presenca, AGENDA.hr_entrada, AGENDA.vestuario, AGENDA.justificativa, AGENDA.dt_gravacao, AGENDA.geftb001_usuario_id_usuario
	FROM [dbo].[geftb005_agenda] AS AGENDA
	RIGHT JOIN [DBO].[geftb002_associado] AS ASSOCIADO ON ASSOCIADO.id_associado = AGENDA.geftb002_associado_id_associado 
	WHERE dt_agenda = @dt_agenda;
	RETURN;
END;