USE [fabiano]
GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_diasemana_geftb003]    Script Date: 25/10/2023 12:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[sp_buscar_diasemana_geftb003]

@id_atividade integer = 0

	AS
  
BEGIN

SELECT [diasemana]
  FROM [fabiano].[dbo].[geftb003_atividade] 
  WHERE id_atividade = @id_atividade
	RETURN;
END;


