USE [fabiano]
GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_geftb009]    Script Date: 23/10/2023 14:50:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[sp_buscar_geftb009]

AS

BEGIN

	SELECT id_autesp, nomeautesp, dt_gravacao, geftb001_usuario_id_usuario
	FROM geftb009_livautesp 

	RETURN;
END;

