USE [fabiano]
GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_nome_cnpj_geftb011]    Script Date: 23/10/2023 14:50:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[sp_buscar_nome_cnpj_geftb011]

@descricao varchar(30) = NULL,
@cnpj varchar(14) = NULL


AS

BEGIN

		SELECT id_editora, descricao, cnpj, tel1, tel1, email, dt_gravacao, geftb001_usuario_id_usuario
		FROM geftb011_liveditora
		WHERE descricao = UPPER(@descricao) AND cnpj = @cnpj;

	RETURN;
END;

