USE [fabiano]
GO
/****** Object:  StoredProcedure [dbo].[sp_inserir_geftb002]    Script Date: 15/10/2023 20:42:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE OR ALTER   PROCEDURE [dbo].[sp_inserir_geftb002]
	@titoudep integer = 0,
	@matricula as VARCHAR(8) = null,
    @nome character varying(60) = NULL,
    @dt_nascimento date = NULL,
    @dt_ini date = NULL,
    @dt_fim date = NULL,
    @cpf character varying(11) = NULL,
    @tel1 character varying(9) = NULL,
    @tel2 character varying(9) = NULL,
    @email character varying(100) = NULL,
    @endereco character varying(60) = NULL,
    @bairro character varying(30) = NULL,
    @cidade character varying(15) = NULL,
    @cep character varying(9) = NULL,
    @parentesco character varying(20) = NULL,
    @obs character varying(100) = NULL,
	@dt_gravacao date = NULL,
    @geftb001_usuario_id_usuario integer = 0

AS

BEGIN

	IF @titoudep = 0
		INSERT INTO geftb002_associado (matricula, dt_ini, nome, dt_nascimento, endereco, bairro, cidade, cep, tel1, tel2, cpf, obs, email, parentesco, dt_gravacao, geftb001_usuario_id_usuario)
		VALUES (SUBSTRING(@matricula,1,1) + (SELECT MAX(SUBSTRING(MATRICULA,2,5)) + 1 FROM GEFTB002_ASSOCIADO WHERE SUBSTRING(MATRICULA,1,1) = SUBSTRING(@matricula,1,1)) + '00',
				@dt_ini,
				UPPER(@nome),
				@dt_nascimento, 
				UPPER(@endereco),
				UPPER(@bairro),
				UPPER(@cidade),
				@cep,
				@tel1,
				@tel2,
				@cpf,
				UPPER(@obs),
				@email,
				@parentesco, 
  	            @dt_gravacao,
				@geftb001_usuario_id_usuario);

	ELSE
		
		insert into geftb002_associado (matricula, dt_ini, nome, dt_nascimento, endereco, bairro, cidade, cep, tel1, tel2, cpf, obs, email, parentesco, dt_gravacao, geftb001_usuario_id_usuario)
		VALUES (SUBSTRING(@matricula,1,1) + @matricula + (SELECT MAX(SUBSTRING(MATRICULA,7,2)) + 1 FROM GEFTB002_ASSOCIADO WHERE SUBSTRING(MATRICULA,1,6) = SUBSTRING(@matricula,1,6)),
				@dt_ini,
				UPPER(@nome),
				@dt_nascimento, 
				UPPER(@endereco),
				UPPER(@bairro),
				UPPER(@cidade),
				@cep,
				@tel1,
				@tel2,
				@cpf,
				UPPER(@obs),
				@email,
				@parentesco, 
  	            @dt_gravacao,
				@geftb001_usuario_id_usuario);

END;