SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[sp_inserir_geftb004]
    @id_associado INT = 0,
    @geftb003_atividade_id_atividade INT = 0,
    @dt_ini DATE = NULL,
    @dt_fim DATE = NULL,
    @dt_gravacao DATE = NULL,
    @geftb001_usuario_id_usuario INT = 0
AS
BEGIN
    -- Certifique-se de ter uma SEQUENCE chamada dbo.geftb004_associado_atividade_id_seq
    -- ou considere usar uma coluna IDENTITY para id_associado_atividade para IDs auto-incrementais.
    -- Exemplo de criação de uma sequence, se você não tiver uma:
    -- CREATE SEQUENCE dbo.geftb004_associado_atividade_id_seq
    --     START WITH 1
    --     INCREMENT BY 1;

    INSERT INTO [dbo].[geftb004_associado_atividade] (
        geftb002_associado_id_associado,
        geftb003_atividade_id_atividade,
        dt_ini,
        dt_fim,
        dt_gravacao,
        geftb001_usuario_id_usuario
    )
    VALUES (
        (SELECT id_associado FROM geftb002_associado WHERE id_associado = @id_associado),
        @geftb003_atividade_id_atividade,
        @dt_ini,
        @dt_fim,
        @dt_gravacao,
        @geftb001_usuario_id_usuario
    );
END;
