USE [fabiano]
GO
/****** Object:  StoredProcedure [dbo].[sp_inserir_geftb010]    Script Date: 22/10/2023 22:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE OR ALTER PROCEDURE [dbo].[sp_inserir_geftb010]

    @nomeautor character varying(60) = NULL,
	@dt_gravacao date = NULL,
    @geftb001_usuario_id_usuario integer = 0

AS


BEGIN

	INSERT INTO geftb010_livautor (nomeautor, dt_gravacao, geftb001_usuario_id_usuario) 
				VALUES (UPPER(@nomeautor),
				@dt_gravacao,
				@geftb001_usuario_id_usuario);

END;

