	USE [fabiano]
GO
/****** Object:  StoredProcedure [dbo].[sp_inserir_geftb008]    Script Date: 22/10/2023 22:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE OR ALTER PROCEDURE [dbo].[sp_inserir_geftb008]

    @id_estoquemed integer = 0,
    @nomecom varchar(30) = NULL,
    @nomequi varchar(30) = NULL,
    @lote integer = 0,
    @prateleira integer = 0,
    @estoque integer = 0,
    @grfarmaco integer = 0,
    @dt_validade date = NULL,
	@dt_gravacao date = NULL,
    @geftb001_usuario_id_usuario integer = 0

AS


BEGIN

	INSERT INTO [dbo].[geftb008_estoquemed] (lote, nomecomerc, nomequimico, geftb007_grfarmaco_id_grfarmaco, prateleira, dt_validade, estoque, dt_gravacao, geftb001_usuario_id_usuario) 
	VALUES (@lote, 
			UPPER(@nomecom), 
			UPPER(@nomequi), 
			@grfarmaco, 
			@prateleira, 
			@dt_validade, 
			@estoque, 
			@dt_gravacao,
			@geftb001_usuario_id_usuario);

END;

