USE [fabiano]
GO
/****** Object:  StoredProcedure [dbo].[sp_inserir_domingo_geftb005]    Script Date: 26/10/2023 08:59:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE OR ALTER  PROCEDURE [dbo].[sp_inserir_domingo_geftb005]
	@numsemana integer = 0,
    @dt_agenda date NULL,
	@dt_gravacao date NULL,
    @geftb001_usuario_id_usuario integer = 0

AS

BEGIN

	IF @numsemana = 1 OR @numsemana = 3
		INSERT INTO geftb005_agenda (dt_agenda, geftb002_associado_id_associado, geftb003_atividade_id_atividade, presenca, medico, dentista, vestuario, justificativa, dt_gravacao, geftb001_usuario_id_usuario)
		SELECT @dt_agenda, ASS.id_associado, ATV.id_atividade, null, null, null, null, null, @dt_gravacao, @geftb001_usuario_id_usuario 
			FROM geftb004_associado_atividade AS ASSATV 
			RIGHT JOIN geftb002_associado AS ASS ON ASS.id_associado = ASSATV.geftb002_associado_id_associado 
			LEFT JOIN geftb003_atividade AS ATV ON ATV.id_atividade = ASSATV.geftb003_atividade_id_atividade 
			WHERE ATV.diasemana = 'DOMINGO' AND ATV.periodo = 'QUINZENAL 1/3' AND ASSATV.dt_fim IS NULL AND ASS.dt_fim IS NULL AND ATV.dt_fim IS NULL ;
	ELSE IF @numsemana = 2 OR @numsemana = 4
		INSERT INTO geftb005_agenda (dt_agenda, geftb002_associado_id_associado, geftb003_atividade_id_atividade, presenca, medico, dentista, vestuario, justificativa, dt_gravacao, geftb001_usuario_id_usuario)
		SELECT @dt_agenda, ASS.id_associado, ATV.id_atividade, null, null, null, null, null, @dt_gravacao, @geftb001_usuario_id_usuario 
			FROM geftb004_associado_atividade AS ASSATV 
			RIGHT JOIN geftb002_associado AS ASS ON ASS.id_associado = ASSATV.geftb002_associado_id_associado 
			LEFT JOIN geftb003_atividade AS ATV ON ATV.id_atividade = ASSATV.geftb003_atividade_id_atividade 
			WHERE ATV.diasemana = 'DOMINGO' AND ATV.periodo = 'QUINZENAL 1/3' AND ASSATV.dt_fim IS NULL AND ASS.dt_fim IS NULL AND ATV.dt_fim IS NULL ;
	ELSE 
		INSERT INTO geftb005_agenda (dt_agenda, geftb002_associado_id_associado, geftb003_atividade_id_atividade, presenca, medico, dentista, vestuario, justificativa, dt_gravacao, geftb001_usuario_id_usuario)
		SELECT @dt_agenda, ASS.id_associado, ATV.id_atividade, null, null, null, null, null, @dt_gravacao, @geftb001_usuario_id_usuario 
			FROM geftb004_associado_atividade AS ASSATV 
			RIGHT JOIN geftb002_associado AS ASS ON ASS.id_associado = ASSATV.geftb002_associado_id_associado 
			LEFT JOIN geftb003_atividade AS ATV ON ATV.id_atividade = ASSATV.geftb003_atividade_id_atividade 
			WHERE ATV.diasemana = 'DOMINGO' AND (ATV.periodo <> 'QUINZENAL 1/3' AND ATV.periodo <> 'QUINZENAL 2/4') AND ASSATV.dt_fim IS NULL AND ASS.dt_fim IS NULL AND ATV.dt_fim IS NULL ;
END;

