USE [fabiano]
GO
/****** Object:  StoredProcedure [dbo].[sp_inserir_geftb012]    Script Date: 22/10/2023 22:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE OR ALTER PROCEDURE [dbo].[sp_inserir_geftb012]

	@titulo varchar(100) = NULL, 
	@assunto  varchar(100) = NULL,
	@autoresp int = 0,
	@autor int = 0, 
	@editora int = 0, 
	@estoque int = 0, 
	@vl_unitario decimal(5,2) = 0,
	@vl_livraria decimal(5,2) = 0,
	@vl_feira decimal(5,2) = 0, 
	@dt_gravacao date = NULL,
    @geftb001_usuario_id_usuario integer = 0

AS


BEGIN

	INSERT INTO geftb012_livraria(titulo, assunto, geftb009_livautesp_id_autesp, geftb010_livautor_id_autor, geftb011_liveditora_id_editora, estoque, vl_unitario, vl_livraria, vl_feira, dt_gravacao, geftb001_usuario_id_usuario) 
				VALUES (UPPER(@titulo),
				UPPER(@assunto),
				@autoresp,
				@autor,
				@editora,
				@estoque,
				@vl_unitario,
				@vl_livraria,
				@vl_feira,
				@dt_gravacao,
				@geftb001_usuario_id_usuario);

END;

