USE [fabiano]
GO
/****** Object:  StoredProcedure [dbo].[sp_inserir_geftb011]    Script Date: 22/10/2023 22:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE OR ALTER PROCEDURE [dbo].[sp_inserir_geftb011]

    @descricao character varying(30) = NULL,
    @cnpj character varying(14) = NULL,
    @tel1 character varying(9) = NULL,
    @tel2 character varying(9) = NULL,
    @email character varying(100) = NULL,
	@dt_gravacao date = NULL,
    @geftb001_usuario_id_usuario integer = 0

AS


BEGIN

	INSERT INTO geftb011_liveditora (descricao, cnpj, tel1, tel2, email, dt_gravacao, geftb001_usuario_id_usuario) 
				VALUES (UPPER(@descricao),
				@cnpj,
				@tel1,
				@tel2,
				@email,
				@dt_gravacao,
				@geftb001_usuario_id_usuario);

END;

