USE [fabiano]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[sp_inserir_geftb003]
    @sigla VARCHAR(10) = NULL,
    @descricao VARCHAR(35) = NULL,
    @grupo VARCHAR(20) = NULL,
    @subgrupo VARCHAR(20) = NULL,
    @hr_ini VARCHAR(8) = NULL,
    @hr_fim VARCHAR(8) = NULL,
    @dt_ini DATE = NULL,
    @diasemana VARCHAR(15) = NULL,
    @periodo VARCHAR(15) = NULL,
    @dt_gravacao DATE = NULL,
    @geftb001_usuario_id_usuario INT = 0
AS
BEGIN
    -- Ensure you have a SEQUENCE named dbo.geftb003_atividade_idatividade_seq
    -- or consider using an IDENTITY column on the id_atividade for auto-incrementing IDs.
    -- Example of creating a sequence if you don't have one:
    -- CREATE SEQUENCE dbo.geftb003_atividade_idatividade_seq
    --     START WITH 1
    --     INCREMENT BY 1;

    INSERT INTO geftb003_atividade (
        id_atividade,
        sigla,
        descricao,
        grupo,
        subgrupo,
        hr_ini,
        hr_fim,
        dt_ini,
        diasemana,
        periodo,
        dt_gravacao,
        geftb001_usuario_id_usuario
    )
    VALUES (
        NEXT VALUE FOR dbo.geftb003_atividade_idatividade_seq,
        UPPER(@sigla),
        UPPER(@descricao),
        UPPER(@grupo),
        UPPER(@subgrupo),
        @hr_ini,
        @hr_fim,
        @dt_ini,
        UPPER(@diasemana),
        UPPER(@periodo),
        @dt_gravacao,
        @geftb001_usuario_id_usuario
    );
END;
