SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[sp_inserir_geftb005]
    @numsemana INT = 0,
    @nomediasemana VARCHAR(15) = NULL,
    @dt_agenda DATE = NULL,
    @dt_gravacao DATE = NULL,
    @geftb001_usuario_id_usuario INT = 0
AS
BEGIN
    IF @nomediasemana = 'DOMINGO' AND (@numsemana = 1 OR @numsemana = 3)
    BEGIN
        INSERT INTO [dbo].[geftb005_agenda] (dt_agenda, geftb002_associado_id_associado, geftb003_atividade_id_atividade, presenca,
        hr_entrada, vestuario, justificativa, dt_gravacao, geftb001_usuario_id_usuario)
        SELECT
            @dt_agenda,
            ASS.id_associado,
            ATV.id_atividade,
            NULL,
            NULL,
            NULL,
            NULL,
            @dt_gravacao,
            @geftb001_usuario_id_usuario
        FROM
            geftb004_associado_atividade AS ASSATV
        RIGHT JOIN
            geftb002_associado AS ASS ON ASS.id_associado = ASSATV.geftb002_associado_id_associado
        LEFT JOIN
            geftb003_atividade AS ATV ON ATV.id_atividade = ASSATV.geftb003_atividade_id_atividade
        WHERE
            ATV.diasemana = @nomediasemana
            AND ATV.periodo = 'QUINZENAL 1/3'
            AND ASSATV.dt_fim IS NULL
            AND ASS.dt_fim IS NULL
            AND ATV.dt_fim IS NULL;
    END
    ELSE IF @nomediasemana = 'DOMINGO' AND (@numsemana = 2 OR @numsemana = 4)
    BEGIN
        INSERT INTO [dbo].[geftb005_agenda] (dt_agenda, geftb002_associado_id_associado, geftb003_atividade_id_atividade, presenca,
        hr_entrada, vestuario, justificativa, dt_gravacao, geftb001_usuario_id_usuario)
        SELECT
            @dt_agenda,
            ASS.id_associado,
            ATV.id_atividade,
            NULL,
            NULL,
            NULL,
            NULL,
            @dt_gravacao,
            @geftb001_usuario_id_usuario
        FROM
            geftb004_associado_atividade AS ASSATV
        RIGHT JOIN
            geftb002_associado AS ASS ON ASS.id_associado = ASSATV.geftb002_associado_id_associado
        LEFT JOIN
            geftb003_atividade AS ATV ON ATV.id_atividade = ASSATV.geftb003_atividade_id_atividade
        WHERE
            ATV.diasemana = @nomediasemana
            AND ATV.periodo = 'QUINZENAL 2/4'
            AND ASSATV.dt_fim IS NULL
            AND ASS.dt_fim IS NULL
            AND ATV.dt_fim IS NULL;
    END
    ELSE
    BEGIN
        INSERT INTO [dbo].[geftb005_agenda] (dt_agenda, geftb002_associado_id_associado, geftb003_atividade_id_atividade, presenca,
        hr_entrada, vestuario, justificativa, dt_gravacao, geftb001_usuario_id_usuario)
        SELECT
            @dt_agenda,
            ASS.id_associado,
            ATV.id_atividade,
            NULL,
            NULL,
            NULL,
            NULL,
            @dt_gravacao,
            @geftb001_usuario_id_usuario
        FROM
            geftb004_associado_atividade AS ASSATV
        RIGHT JOIN
            geftb002_associado AS ASS ON ASS.id_associado = ASSATV.geftb002_associado_id_associado
        LEFT JOIN
            geftb003_atividade AS ATV ON ATV.id_atividade = ASSATV.geftb003_atividade_id_atividade
        WHERE
            ATV.diasemana = @nomediasemana
            AND ASSATV.dt_fim IS NULL
            AND ASS.dt_fim IS NULL
            AND ATV.dt_fim IS NULL;
    END
END;
