USE [fabiano]
GO
/****** Object:  StoredProcedure [dbo].[sp_inserir_geftb001]    Script Date: 15/08/2025 21:42:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE OR ALTER    PROCEDURE [dbo].[sp_inserir_geftb001]

	@matricula varchar(8) = NULL,
    @senha varchar(10) = NULL,
	@dt_ini date = NULL,
	@dt_gravacao date = NULL,
    @nivel integer = 0

AS
BEGIN
    -- Declara uma variável para armazenar o hash da senha
    DECLARE @SenhaHash VARBINARY(32);

    -- Criptografa a senha usando o algoritmo SHA2_256
    SET @SenhaHash = HASHBYTES('SHA2_256', @senha);

    -- Insere os dados na tabela de usuários
    INSERT INTO geftb001_usuario (matricula, senha, dt_ini, dt_gravacao, nivel) 
				VALUES (@matricula,
				@SenhaHash,
				@dt_ini,
				@dt_gravacao,
				@nivel);
END;

