USE [fabiano]
GO
/****** Object:  StoredProcedure [dbo].[sp_rel_agenda_atividade_geftb005]    Script Date: 26/10/2023 11:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[sp_rel_agenda_atividade_geftb005]
    @dt_agenda date NULL

	AS
  
BEGIN
	SELECT DISTINCT(AG.geftb003_atividade_id_atividade)
		  ,atv.descricao
	  FROM geftb005_agenda AS AG
	  INNER JOIN geftb003_atividade AS ATV ON
	  ATV.id_atividade = AG.geftb003_atividade_id_atividade
		WHERE AG.dt_agenda = @dt_agenda AND AG.geftb003_atividade_id_atividade <> 15 AND AG.geftb003_atividade_id_atividade <> 16

	RETURN;

END;