USE [fabiano]
GO
/****** Object:  StoredProcedure [dbo].[sp_rel_agenda_atividade_freq_geftb005]    Script Date: 26/10/2023 11:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[sp_rel_agenda_atividade_freq_geftb005]
    @dt_agenda date NULL,
	@id_atividade int = 0

	AS
  
BEGIN

	SELECT AG.dt_agenda
		  ,A.matricula
		  ,A.nome
		  ,AG.geftb003_atividade_id_atividade
		  ,atv.descricao
		  ,AG.presenca
	  FROM geftb005_agenda AS AG
	  INNER JOIN geftb003_atividade AS ATV ON
	  ATV.id_atividade = AG.geftb003_atividade_id_atividade
	  INNER JOIN geftb002_associado AS A ON
	  A.id_associado = AG.geftb002_associado_id_associado
		WHERE AG.dt_agenda = @dt_agenda  AND AG.geftb003_atividade_id_atividade = @id_atividade

	RETURN;

END;